Source: turtlebot-wallpapers-hydro
Section: x11
Priority: optional
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3

Package: turtlebot-wallpapers-hydro
Architecture: all
Provides: turtlebot-wallpapers
Conflicts: turtlebot-wallpapers
Replaces:
Depends: ${misc:Depends}
Description: TurtleBot Wallpapers-hydro
 The default Wallpapers for TurtleBots.
  * TurtleBot Backgrounds

